/** @format */
#section1 {
	width: 100%;
	height: 100vh;
	cursor: default;
}
.main__wrap {
	padding-top: 70px;
}

.top {
	width: 100%;
	height: 78.5vh;
	position: relative;
}
.main__top {
	width: 100%;
	font-family: "PPMonument";
	font-size: 28vw;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 2%;
	display: flex;
	align-items: center;
}
.top__title {
	display: inline-block;
	font-weight: 900;
	white-space: nowrap;
	text-transform: uppercase;
	animation: rail 35s linear infinite;
}
.main__ce {
	width: 40%;
	position: relative;
	padding-top: 50px;
	margin: 0 auto;
	box-sizing: border-box;
}
.back {
	width: 35vw;
	height: 35vw;
	position: absolute;
	z-index: 10;
	animation: rotateIt 18s linear infinite;
	overflow: hidden;
}
.frot {
	width: 35vw;
	height: 35vw;
	position: absolute;
	z-index: 100;
}
.main__rail {
	transform: translate(0px, 0px);
	border-top: 2px solid #101010;
	border-bottom: 2px solid #101010;
	overflow: hidden;
	background-color: #f0f0f0;
}
.main__title {
	font-family: "NexonLv2Gothic";
	line-height: 1.4;
	position: absolute;
	left: 0;
	bottom: 4%;
	min-width: 20rem;
	font-size: 1.1vw;
	padding-left: 1.2rem;
}
.main__icon {
	display: inline-block;
	margin-right: 2.5rem;
	position: relative;
	width: 0px;
	height: 0px;
	border-bottom: 9px solid #f55c47;
	border-left: 0px solid transparent;
	border-right: 9px solid transparent;
	transform: rotate(90deg);
	vertical-align: 3px;
}
.main__icon.black {
	display: inline-block;
	margin-right: 2.5rem;
	position: relative;
	width: 0px;
	height: 0px;
	border-bottom: 9px solid #101010;
	border-left: 0px solid transparent;
	border-right: 9px solid transparent;
	transform: rotate(90deg);
	vertical-align: 3px;
}
.rail__inner {
	white-space: nowrap;
	display: flex;
	will-change: transform;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: rail2;
	animation-duration: 20s;
	height: 7vw;
}
.rail__item {
	display: flex;
	align-items: center;
}
.rail__desc {
	font-weight: 800;
	text-transform: uppercase;
	font-family: "PPMonument";
	font-size: 5vw;
	white-space: nowrap;
	padding-right: 2rem;
}
.rail__icon {
	padding-right: 2rem;
}
.rail__icon svg {
	width: 6vw;
}
@keyframes rail {
	0% {
		transform: translateZ(0);
	}
	100% {
		transform: translate3d(-120%, 0, 0);
	}
}
@keyframes rail2 {
	0% {
		transform: translateZ(0);
	}
	100% {
		transform: translate3d(-164%, 0, 0);
	}
}

@keyframes rotateIt {
	/* 0% {
		transform: rotate(0deg);
	} */
	100% {
		transform: rotate(360deg);
	}
}
