/** @format */
#section2 {
	width: 100%;
}
.about__wrap {
	width: 100%;
	/* height: 150vh; */
	overflow: hidden;
}
.about__inner {
	padding: 150px 80px;
	position: relative;
	overflow: hidden;
}

.about__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	z-index: 10;
}
.about__bottom {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	align-items: center;
}
.about__img01 {
	width: 600px;
	height: 600px;
	margin-left: 70px;
	z-index: 10;
}
.about__img02 {
	width: 480px;
	height: 480px;
	transform: rotate(-30deg);
	z-index: 10;
	position: absolute;
	right: 10%;
	bottom: 20%;
}
.about__desc {
	position: relative;
	width: 50%;
	z-index: 10;
}
.about__desc.left {
	margin-right: 15rem;
	z-index: 10;
}
.about__desc .about__title {
	font-family: "PPMonument";
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.about__desc .about__me {
	font-family: "NexonLv2Gothic";
	font-weight: 300;
	line-height: 150%;
	width: 600px;
	font-size: 18px;
}

.about__icon {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.about__rail {
	border-top: 2px solid #f55c47;
	/* border-bottom: 2px solid #f55c47; */
	transform: translate(0px, 0px);
	overflow: hidden;
}
.a-rail__item {
	white-space: nowrap;
}
.a-rail__desc {
	color: #f55c47;
	font-weight: 800;
	font-family: "PPMonument";
	display: inline-block;
	text-transform: uppercase;
	font-size: 4.8vw;
	white-space: nowrap;
	line-height: 1.2;
	border-bottom: 2px solid #f55c47;
}
.about__rail__inner {
	/* animation: animate 4s linear; */
	animation: a-rail 6s linear infinite;
}
.about__rail__inner-b {
	animation: b-rail 6s linear infinite;
}
@keyframes a-rail {
	0% {
		transform: translateZ(0);
	}
	100% {
		transform: translate3d(-70%, 0, 0);
	}
}
@keyframes b-rail {
	0% {
		transform: translateX(-70%);
	}
	100% {
		transform: translateX(0%);
	}
}
/* @keyframes animate {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	50% {
		transform: scaleX(1);
		transform-origin: left;
	}

	100% {
		transform: scaleX(1);
		transform-origin: right;
	}
} */

.about__icon.icon-c1 {
	left: 8%;
	top: 8%;
	animation: iconup 5s linear infinite;
	will-change: top;
}
.about__icon.icon-c2 {
	left: 70%;
	top: 10%;
	animation: iconup 8s linear infinite;
	will-change: top;
}
.about__icon.icon-c3 {
	left: 50%;
	top: 30%;
	animation: iconup 9s linear infinite;
	will-change: top;
}
.about__icon.icon-c4 {
	left: 12%;
	top: 50%;
	animation: iconup 7s linear infinite;
	will-change: top;
}
.about__icon.icon-c5 {
	left: 29%;
	top: 65%;
	animation: iconup 10s linear infinite;
	will-change: top;
}
.about__icon.icon-c6 {
	left: 88%;
	top: 90%;
	animation: iconup 9s linear infinite;
	will-change: top;
}
.about__icon.icon-c7 {
	left: 90%;
	top: 38%;
	animation: iconup 8s linear infinite;
	will-change: top;
}
.about__icon.icon-c8 {
	left: 34%;
	top: 45%;
	animation: iconup 12s linear infinite;
	will-change: top;
}
.about__icon.icon-c9 {
	left: 65%;
	top: 55%;
	animation: iconup 5s linear infinite;
	will-change: top;
}
.about__icon.icon-c10 {
	left: 20%;
	top: 78%;
	animation: iconup 5s linear infinite;
	will-change: top;
}
.about__icon.icon-c11 {
	left: 59%;
	top: 89%;
	animation: iconup 7s linear infinite;
	will-change: top;
}
.about__icon.icon-c12 {
	left: 79%;
	top: 2%;
	animation: iconup 11s linear infinite;
	will-change: top;
}
.about__icon.icon-c13 {
	left: 41%;
	top: 66%;
	animation: iconup 8s linear infinite;
	will-change: top;
}
.about__icon.icon-c14 {
	left: 97%;
	top: 20%;
	animation: iconup 4s linear infinite;
	will-change: top;
}
.about__icon.icon-c15 {
	left: 0%;
	top: 16%;
	animation: iconup 9s linear infinite;
	will-change: top;
}
@keyframes iconup {
	0% {
		top: 110%;
	}
	100% {
		top: -10%;
	}
}
