/** @format */

#section6 {
	width: 100%;
}
.script__before.end {
	border-bottom: 2px solid #101010;
}
.script__be__inner.end {
	border: none;
}
.script__detail.ra {
	flex-direction: row;
	border-bottom: 2px solid #101010;
}

.detail__desc.ra {
	color: #101010;
}
